<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8"/>
    <title>Recruiter Home</title>
    <!-- <link rel="shortcut icon" href="images/favicon.png"> -->
    <link rel="stylesheet" href="{{url_for('static',filename = 'style.css')}}">
    <script
              src="https://code.jquery.com/jquery-3.3.1.min.js"
              integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>

<script>
    function values(){
        var Cplus=document.getElementById('c++');
        var Python=document.getElementById('Python');
        var Java=document.getElementById('Java');
        var html=document.getElementById('html');
        var Leadership=document.getElementById('Leadership');
        var Communication=document.getElementById('Communication');

         window.location.href = "/eval?C++="+Cplus+"&Python="+Python+"&Java="+Java+"&html"+html+"&Leadership="+Leadership+"&Communication="+Communication;
    }
$('input[type=file]').change(function () {
    console.log(this.files[0].mozFullPath);
});

function exe() {
  var store = document.getElementById('here');
  $.get("/data", function(data, status){
        console.log("hererererer");
        store = data["name"];
        document.getElementById("job_desc_header").innerHTML = store;
   });
 }
</script>

<style type="text/css">
    body {background-image: url("/static/t2.jpg")}
</style>
</head>

<body >
    

<div style=" margin-top: 40px;margin-left: 50px;font-style: italic;">
    <a href="bvc" style="font-size: 20px;font-weight: 50;color:white;-webkit-filter: blur(0px)"> Background  Vetting  Check </a>
    <!-- <a href="#" onclick="window.location=bvc.html" style="font-size: 50px;font-weight: 20px">email</a> -->
    </div>


    <!-- body content-->
    <div class="header">

        <div>The<span> Frustrated</span> Recruiter</div>
    </div><br>



    <div class="login">
        <form method = "GET" action = "submit.html" >
            <div>
                If you are a Recruiter, Please set the Resumes directory <br/>
                <input title="Select Files to upload" accept="application/pdf" type="file" name="resume[]" multiple="true" id="fileupload">
            </div>
            <br/>

            <!-- <div>
              If you are a Candidate, Please upload your Resume <br/>
                <input title="Select Files to upload" accept="application/pdf" type="file" name="resume[]" multiple="true" id="fileupload1">
            </div>
            <!<textarea id = "here" name="previousJob" cols="30" rows="5" wrap="soft" placeholder="Enter some text..." ></textarea> -->
            <!-- <br/>  -->

            <!-- <input class="btn" type="submit" value="Background Vetting Check" style="width: 300px"> -->
            <div style="margin-top: 10px;padding-bottom: 10px">
                Give the required score for the following technologies. <br/>
            </div>
            <textarea id="c++" placeholder="C++" style="width: 130px;height: 25px;font-size:18px"></textarea>
            <textarea id="Python" placeholder="Python" style="width: 135px;height: 25px;font-size:18px;margin-left: 9px"></textarea>
            <br/>
            <textarea id="Java" placeholder="Java" style="width: 130px;height: 25px;font-size:18px"></textarea>
            <textarea id="html" placeholder="HTML/CSS" style="width: 135px;height: 25px;font-size:18px;margin-left: 9px"></textarea>
            <br/>
            <textarea id="Leadership" placeholder="Leadership" style="width: 130px;height: 25px;font-size:18px"></textarea>
            <textarea id="Communication" placeholder="Communication" style="width: 135px;height: 25px;font-size:18px;margin-left: 9px"></textarea>
            <br/>
            <input class="btn" type="submit" value="Go!" style="margin-top: 20px;background-color: #ffffcc">
        </form>
    </div>


</body>
</html>
